apprise==1.9.3
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
click>=8.1.8
codespell==2.4.1
coverage==7.9.2
flexmock==0.12.2
idna==3.10
iniconfig==2.1.0
jsonschema==4.24.1
jsonschema-specifications==2025.4.1
Markdown==3.8.2
oauthlib==3.3.1
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
PyYAML>5.0.0
referencing==0.36.2
requests==2.32.4
requests-oauthlib==2.0.0
rpds-py==0.26.0
ruamel.yaml>0.15.0
urllib3==2.5.0
