#suggestion-form textarea {
	font-family: sans-serif;
	width: 100%;
}

#suggestion-form label {
	font-weight: bold;
}

#suggestion-form input[type=email] {
	font-size: 16px;
	width: 100%;
}

#suggestion-form .form-error {
        color: red;
}

